In [4]:
# coding: utf-8

# In[8]:

#!pip install missingpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import Imputer
from missingpy import KNNImputer

# Data Imputation using Mean and Mode

In [5]:
train=pd.read_csv("Train_UWu5bXk.csv")
train.head()


# In[49]:


mode=train["Outlet_Size"].mode()
mode[0]

'Medium'

In [6]:
mean=round(train["Item_Weight"].mean(),1)
mean

12.9

In [7]:
mode1=train["Outlet_Establishment_Year"].mode()
mode1[0]

1985

In [8]:
train["Outlet_Size"]=train["Outlet_Size"].fillna("mode[0]")
train["Outlet_Establishment_Year"]=train["Outlet_Establishment_Year"].fillna(mode1)
# mean1=round(df["Item_Weight"].mean(),1)
train["Item_Weight"]=train["Item_Weight"].fillna(mean)

In [10]:
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

# KNN DataImputation

In [11]:
# KNN Imputation using Boston data(numerical data)
data=pd.read_csv("boston_csv.csv")
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000
2,0.62976,0.0,NaN,0,0.538,5.949,61.799999,4.7075,4,307,21.000000,396.899994,8.26,20.400000
3,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001
4,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002

In [12]:
data.isnull().sum()

CRIM      0
ZN        0
INDUS    11
CHAS      0
NOX       0
RM        0
AGE       0
DIS       0
RAD       0
TAX       0
PT        0
B         0
LSTAT     0
MV        0
dtype: int64

In [14]:
knn_impu=KNNImputer(n_neighbors=3,weights="uniform")
y=knn_impu.fit_transform(data)

In [15]:
y

array([[6.32000000e-03, 1.80000000e+01, 2.30999994e+00, ...,
        3.96899994e+02, 4.98000002e+00, 2.40000000e+01],
       [2.73100010e-02, 0.00000000e+00, 7.07000017e+00, ...,
        3.96899994e+02, 9.14000034e+00, 2.16000004e+01],
       [6.29760027e-01, 0.00000000e+00, 8.72666677e+00, ...,
        3.96899994e+02, 8.26000023e+00, 2.03999996e+01],
       ...,
       [1.30751000e+01, 0.00000000e+00, 1.81000004e+01, ...,
        3.96899994e+02, 1.47600002e+01, 2.01000004e+01],
       [4.34879017e+00, 0.00000000e+00, 1.81000004e+01, ...,
        3.96899994e+02, 1.62900009e+01, 1.98999996e+01],
       [4.03841019e+00, 0.00000000e+00, 1.81000004e+01, ...,
        3.95329987e+02, 1.28699999e+01, 1.96000004e+01]])

In [16]:
y = pd.DataFrame(y)

In [19]:
y.columns=["CRIM","ZN","INDUS","CHAS","INDUS","RM","AGE","DIS","RAD","TAX","PT","B","LSTAT","MV"]

In [20]:
y.head()

,CRIM,ZN,INDUS,CHAS,INDUS,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.310000,0.0,0.538,6.575,65.199997,4.0900,1.0,296.0,15.300000,396.899994,4.98,24.000000
1,0.02731,0.0,7.070000,0.0,0.469,6.421,78.900002,4.9671,2.0,242.0,17.799999,396.899994,9.14,21.600000
2,0.62976,0.0,8.726667,0.0,0.538,5.949,61.799999,4.7075,4.0,307.0,21.000000,396.899994,8.26,20.400000
3,0.02729,0.0,7.070000,0.0,0.469,7.185,61.099998,4.9671,2.0,242.0,17.799999,392.829987,4.03,34.700001
4,0.03237,0.0,2.180000,0.0,0.458,6.998,45.799999,6.0622,3.0,222.0,18.700001,394.630005,2.94,33.400002