In [1]:
!conda list pandas

# packages in environment at C:\Users\i067391\AppData\Local\Continuum\anaconda3:
#
# Name                    Version                   Build  Channel
pandas                    0.23.4           py37h830ac7b_0

In [3]:
import pandas as pd

In [4]:
import pandas as pd

In [6]:
groceries = pd.Series(data = [30,6,"Yes","No"],index=['eggs','apples','milk','bread'])

In [7]:
print (groceries)

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [8]:
print(groceries.shape,groceries.ndim,groceries.size)

(4,) 1 4

In [9]:
print(groceries.values, groceries.index)

[30 6 'Yes' 'No'] Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [10]:
x = 'banana' in groceries
print(x)

False

In [11]:
y = 'eggs' in groceries
print(y)

True

In [12]:
# We access elements in Groceries using index labels:

# We use a single index label
print('How many eggs do we need to buy:', groceries['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
print()

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

Do we need bread:
 bread    No
dtype: object

How many eggs do we need to buy: 30

Do we need milk and bread:
 milk     Yes
bread     No
dtype: object

In [13]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We change the number of eggs to 2
groceries['eggs'] = 2

# We display the changed grocery list
print()
print('Modified Grocery List:\n', groceries)

Original Grocery List:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

Modified Grocery List:
 eggs        2
apples      6
milk      Yes
bread      No
dtype: object

print(groceries)

In [15]:
print(groceries)

eggs        2
apples      6
milk      Yes
bread      No
dtype: object

In [16]:
groceries.drop("apples")

eggs       2
milk     Yes
bread     No
dtype: object

In [17]:
# We create a Pandas Series that stores a grocery list of just fruits
fruits= pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

# We display the fruits Pandas Series
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [18]:
print()
print('fruits + 2:\n', fruits + 2) # We add 2 to each item in fruits
print()
print('fruits - 2:\n', fruits - 2) # We subtract 2 to each item in fruits
print()
print('fruits * 2:\n', fruits * 2) # We multiply each item in fruits by 2 
print()
print('fruits / 2:\n', fruits / 2) # We divide each item in fruits by 2
print()

fruits + 2:
 apples     12
oranges     8
bananas     5
dtype: int64

fruits - 2:
 apples     8
oranges    4
bananas    1
dtype: int64

fruits * 2:
 apples     20
oranges    12
bananas     6
dtype: int64

fruits / 2:
 apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [19]:
# We import NumPy as np to be able to use the mathematical functions
import numpy as np

# We print fruits for reference
print('Original grocery list of fruits:\n', fruits)

# We apply different mathematical functions to all elements of fruits
print()
print('EXP(X) = \n', np.exp(fruits))
print() 
print('SQRT(X) =\n', np.sqrt(fruits))
print()
print('POW(X,2) =\n',np.power(fruits,2)) # We raise all elements of fruits to the power of 2

Original grocery list of fruits:
 apples     10
oranges     6
bananas     3
dtype: int64

EXP(X) =
 apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

SQRT(X) =
 apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64

POW(X,2) =
 apples     100
oranges     36
bananas      9
dtype: int64

In [20]:
# We print fruits for reference
print('Original grocery list of fruits:\n ', fruits)
print()

# We add 2 only to the bananas
print('Amount of bananas + 2 = ', fruits['bananas'] + 2)
print()

# We subtract 2 from apples
print('Amount of apples - 2 = ', fruits.iloc[0] - 2)
print()

# We multiply apples and oranges by 2
print('We double the amount of apples and oranges:\n', fruits[['apples', 'oranges']] * 2)
print()

# We divide apples and oranges by 2
print('We half the amount of apples and oranges:\n', fruits.loc[['apples', 'oranges']] / 2)

Original grocery list of fruits:
  apples     10
oranges     6
bananas     3
dtype: int64

Amount of bananas + 2 =  5

Amount of apples - 2 =  8

We double the amount of apples and oranges:
 apples     20
oranges    12
dtype: int64

We half the amount of apples and oranges:
 apples     5.0
oranges    3.0
dtype: float64

In [26]:
# Create a Pandas Series that contains the distance of some planets from the Sun.
# Use the name of the planets as the index to your Pandas Series, and the distance
# from the Sun as your data. The distance from the Sun is in units of 10^6 km

distance_from_sun = [149.6, 1433.5, 227.9, 108.2, 778.6]

planets = ['Earth','Saturn', 'Mars','Venus', 'Jupiter']

# Create a Pandas Series using the above data, with the name of the planets as
# the index and the distance from the Sun as your data.
dist_planets = pd.Series(data = distance_from_sun, index = planets)
print(dist_planets)

# Calculate the number of minutes it takes sunlight to reach each planet. You can
# do this by dividing the distance from the Sun for each planet by the speed of light.
# Since in the data above the distance from the Sun is in units of 10^6 km, you can
# use a value for the speed of light of c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18
print(time_light)

# Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
close_planets = time_light = time_light < 40
print(close_planets)

Earth       149.6
Saturn     1433.5
Mars        227.9
Venus       108.2
Jupiter     778.6
dtype: float64
Earth       8.311111
Saturn     79.638889
Mars       12.661111
Venus       6.011111
Jupiter    43.255556
dtype: float64
Earth       True
Saturn     False
Mars        True
Venus       True
Jupiter    False
dtype: bool

In [42]:
# We create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# We print the type of items to see that it is a dictionary
print(type(items))
shopping_cart = pd.DataFrame(items)
shopping_cart
# We print some information about shopping_carts
print('shopping_carts has shape:', shopping_cart.shape)
print('shopping_carts has dimension:', shopping_cart.ndim)
print('shopping_carts has a total of:', shopping_cart.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_cart.values)
print()
print('The row index in shopping_carts is:', shopping_cart.index)
print()
print('The column index in shopping_carts is:', shopping_cart.columns)

<class 'dict'>
shopping_carts has shape: (5, 2)
shopping_carts has dimension: 2
shopping_carts has a total of: 10 elements

The data in shopping_carts is:
 [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [38]:
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}

# We create a DataFrame
df = pd.DataFrame(data)

# We display the DataFrame
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [43]:
# We Create a DataFrame that only has Bob's data
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# We display bob_shopping_cart
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [44]:
# We Create a DataFrame that only has selected items for both Alice and Bob
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# We display sel_shopping_cart
sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [45]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

   bikes  glasses  pants  watches
0     20      NaN     30       35
1     15     50.0      5       10

In [47]:
# We print the store_items DataFrame
print(store_items)

# We access rows, columns and elements using labels
print()
print('How many bikes are in each store:\n', store_items[['bikes']])
print()
print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']])
print()

   bikes  glasses  pants  watches
0     20      NaN     30       35
1     15     50.0      5       10

How many bikes are in each store:
    bikes
0     20
1     15

How many bikes and pants are in each store:
    bikes  pants
0     20     30
1     15      5

In [48]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])

# We display the DataFrame
store_items

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      NaN     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     NaN     10    NaN       35

In [53]:
# We count the number of NaN values in store_items
x =  store_items.isnull().sum().sum()

# We print x
print('Number of NaN values in our DataFrame:', x)
store_items.isnull()
store_items.isnull().sum()

Number of NaN values in our DataFrame: 3

bikes      0
glasses    1
pants      0
shirts     1
shoes      0
suits      1
watches    0
dtype: int64

In [56]:
store_items.fillna(0)

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      0.0     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     0.0     10    0.0       35

In [57]:
store_items.fillna(method = 'ffill', axis = 0)

         bikes  glasses  pants  shirts  shoes  suits  watches
store 1     20      NaN     30    15.0      8   45.0       35
store 2     15     50.0      5     2.0      5    7.0       10
store 3     20      4.0     30     2.0     10    7.0       35

In [19]:
import pandas as pd
import numpy as np

# Since we will be working with ratings, we will set the precision of our 
# dataframes to one decimal place.
pd.set_option('precision', 1)

# Create a Pandas DataFrame that contains the ratings some users have given to a
# series of books. The ratings given are in the range from 1 to 5, with 5 being
# the best score. The names of the books, the authors, and the ratings of each user
# are given below:


books = pd.Series(data = ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland' ])
authors = pd.Series(data = ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ])
user_1 = pd.Series(data = [3.2, np.nan ,2.5])
user_2 = pd.Series(data = [5., 1.3, 4.0, 3.8])
user_3 = pd.Series(data = [2.0, 2.3, np.nan, 4])
user_4 = pd.Series(data = [4, 3.5, 4, 5, 4.2])

dat = {'Book Title' : books,
       'Author' : authors,
       'User 1' : user_1,
       'User 2' : user_2,
       'User 3' : user_3,
       'User 4' : user_4}

book_ratings = pd.DataFrame(dat)

book_ratings.fillna(book_ratings.mean(), inplace = True)

book_ratings


best_rated = book_ratings[(book_ratings == 5).any(axis = 1)]['Book Title'].values

best_rated

array(['Great Expectations', 'The Time Machine'], dtype=object)

In [20]:
sap = pd.read_csv('SAP.csv')

In [26]:
sap.describe()

        Open   High    Low  Close  Adj Close   Volume
count  280.0  280.0  280.0  280.0      280.0  2.8e+02
mean    52.3   55.6   49.1   52.6       46.5  2.6e+07
std     25.7   26.2   25.2   25.9       26.6  1.7e+07
min     10.5   11.6    9.9   10.6        7.9  1.5e+05
25%     34.7   38.8   31.6   35.1       28.0  1.6e+07
50%     48.0   51.8   44.7   47.7       40.5  2.5e+07
75%     70.3   73.5   66.0   70.3       65.5  3.5e+07
max    123.6  127.2  114.6  123.0      123.0  9.8e+07

In [30]:
sap['Adj Close'].describe()

count    280.0
mean      46.5
std       26.6
min        7.9
25%       28.0
50%       40.5
75%       65.5
max      123.0
Name: Adj Close, dtype: float64

In [31]:
sap.corr()

              Open     High      Low    Close  Adj Close   Volume
Open       1.0e+00  9.9e-01  9.9e-01  9.8e-01    9.8e-01  2.9e-02
High       9.9e-01  1.0e+00  9.9e-01  9.9e-01    9.9e-01  3.1e-02
Low        9.9e-01  9.9e-01  1.0e+00  9.9e-01    9.9e-01  1.3e-03
Close      9.8e-01  9.9e-01  9.9e-01  1.0e+00    1.0e+00  7.0e-03
Adj Close  9.8e-01  9.9e-01  9.9e-01  1.0e+00    1.0e+00 -1.5e-02
Volume     2.9e-02  3.1e-02  1.3e-03  7.0e-03   -1.5e-02  1.0e+00

In [32]:
sap

           Date   Open   High    Low  Close  Adj Close    Volume
0    1995-09-01   13.2   14.0   12.9   13.8        9.9    146000
1    1995-10-01   13.8   14.0   12.0   12.9        9.3    901200
2    1995-11-01   12.8   13.8   12.8   13.4        9.6    582400
3    1995-12-01   13.4   14.0   12.6   12.8        9.2    540000
4    1996-01-01   13.3   13.7   12.2   12.4        8.9    643200
5    1996-02-01   12.2   13.4   12.2   12.9        9.3    299600
6    1996-03-01   13.2   13.2   11.4   12.1        8.7    736800
7    1996-04-01   11.8   11.8    9.9   11.0        7.9   2889200
8    1996-05-01   11.2   11.6   10.9   11.4        8.2   2962800
9    1996-06-01   12.1   12.5   11.8   12.5        9.0   1219200
10   1996-07-01   12.5   12.8   11.1   12.0        8.9    702000
11   1996-08-01   12.2   13.9   12.2   13.9       10.3   1881200
12   1996-09-01   13.4   14.6   13.0   14.2       10.5   1065200
13   1996-10-01   14.2   15.4   10.9   11.4        8.5   2727200
14   1996-11-01   10.5   12.1   10.4   11.6        8.6   1370800
15   1996-12-01   11.4   11.9   10.8   11.6        8.6    863200
16   1997-01-01   11.5   12.4   10.6   10.6        7.9   1277600
17   1997-02-01   12.9   13.1   12.3   12.8        9.5   1790000
18   1997-03-01   12.9   14.2   12.6   14.1       10.5    744000
19   1997-04-01   13.4   15.4   13.1   15.4       11.4   2287600
20   1997-05-01   15.2   16.2   14.9   15.4       11.4    833200
21   1997-06-01   15.4   18.1   15.2   17.3       13.4   1194400
22   1997-07-01   17.4   20.8   17.0   20.2       15.7   1467600
23   1997-08-01   19.9   21.0   19.0   19.2       14.9   1234800
24   1997-09-01   20.1   22.4   19.6   22.2       17.2   1029200
25   1997-10-01   22.9   25.5   22.6   25.0       19.3   2926400
26   1997-11-01   25.8   26.4   24.4   25.8       19.9   1290000
27   1997-12-01   27.0   28.5   24.0   26.6       20.6   2108000
28   1998-01-01   27.4   31.4   25.5   30.6       23.7   1925600
29   1998-02-01   31.1   35.0   30.5   34.4       26.6   2118400
..          ...    ...    ...    ...    ...        ...       ...
250  2016-07-01   75.4   87.8   73.3   87.4       85.0  25633800
251  2016-08-01   87.2   89.0   85.3   88.0       85.5  16656300
252  2016-09-01   88.3   92.8   86.7   91.4       88.9  17444900
253  2016-10-01   90.9   91.4   86.1   87.8       85.4  18590600
254  2016-11-01   87.7   87.8   80.9   83.2       80.9  19721500
255  2016-12-01   82.9   87.2   81.3   86.4       84.0  13233200
256  2017-01-01   86.2   91.8   85.5   91.5       89.0  17934200
257  2017-02-01   90.9   94.4   90.2   93.2       90.6  13920600
258  2017-03-01   94.0   98.8   93.7   98.2       95.4  18219500
259  2017-04-01   98.6  102.3   96.0  100.2       97.4  15893200
260  2017-05-01  100.4  107.9  100.4  107.6      104.6  13904200
261  2017-06-01  107.1  108.7  103.0  104.7      103.1  16183400
262  2017-07-01  103.8  106.4  101.7  105.8      104.3  15959900
263  2017-08-01  106.7  107.9  103.8  104.9      103.4  13256100
264  2017-09-01  105.7  110.7  104.3  109.7      108.0  13077200
265  2017-10-01  110.0  114.5  109.8  114.2      112.5  13258000
266  2017-11-01  116.4  116.9  110.9  113.3      111.6  11710400
267  2017-12-01  111.6  116.4  110.5  112.4      110.7   8915600
268  2018-01-01  111.2  116.5  109.4  113.2      111.5  28479000
269  2018-02-01  112.2  112.6   99.2  104.5      102.9  24010200
270  2018-03-01  102.8  109.5  101.1  105.2      103.6  18115700
271  2018-04-01  105.1  111.6  102.3  110.8      109.2  18830300
272  2018-05-01  110.4  116.7  109.7  112.8      111.1  20449500
273  2018-06-01  114.5  121.9  112.2  115.7      115.7  19234100
274  2018-07-01  113.6  122.7  113.5  116.0      116.0  19775900
275  2018-08-01  116.3  122.5  112.1  119.7      119.7  14874600
276  2018-09-01  117.8  127.2  114.6  123.0      123.0  16254400
277  2018-10-01  123.6  123.8  102.8  107.3      107.3  26693900
278  2018-11-01  107.1  108.5  106.0  107.6      107.6   1847600
279  2018-11-06  106.8  107.6  106.5  106.9      106.9    601227

[280 rows x 7 columns]

In [35]:
sap.groupby(['Date',]).['Open'].mean()

SyntaxError: invalid syntax (<ipython-input-35-2bd2de8fd20c>, line 1)